# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
paper/proposal\.html
paper/drafts_and_submissions/\.DS_Store
*\.DS_Store
paper/rsconnect/
data/datasets/raw/marrero2016/Workbook1\.xlsx
\.drake/data/
\.drake/keys/
publication/manuscript\.pdf
publication/supp_info\.pdf
publication/supp_info_files/
# Tex files
*.aux
*.log
*.out
*.tex
*.toc
\.drake/
publication/manuscript_files/figure-latex/
publication/questions_observations_todo\.pdf
packrat/lib*/
paper/manuscript_files/
paper/manuscript\.pdf
paper/questions_observations_todo\.pdf

paper/supp-info\.pdf

paper/supp-info_files/
